@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background-color: wheat;
}

// ============ Variables ==============

// ######## Phone ########
//General
$phone-height: 690px;
$phone-width: 400px;
$phone-border-radius: 30px;
$phone-border: 10px white solid;
// Phone white top
$phone-white-top-top-border-radius: 18px;
$phone-white-top-bottom-border-radius: 8px;

// phone body
$border-radius-msg-standard: 20px;
$border-radius-msg-less: 8px;
$msg-margin: 5px;

// ###### Simple Booking #######
$simple-booking-width: 500px;

// ============== MIXINS ====================

.dynamic-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 10% auto auto 15%;
  
  // PHONE SECTION
  .phone {
    background-color: hsl(270, 20%, 96%);
    width: $phone-width;
    height: $phone-height;
    font-size: 15px;
    
    border-radius: $phone-border-radius;
    border: $phone-border;
    .phone-top {
      border-top-left-radius: $phone-white-top-top-border-radius;
      border-top-right-radius: $phone-white-top-top-border-radius;
      border-bottom-left-radius: $phone-white-top-bottom-border-radius;
      border-bottom-right-radius: $phone-white-top-bottom-border-radius;
      color: white;
      background-image: linear-gradient(to right, purple, pink);

      .white-at-top-of-phone {
        width: 50%;
        height: 20px;
        background-color: white;
        margin: auto;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }

      .phone-top-content {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        img {
          height: 40px;
          border-radius: 30px;
          border: 2px white solid;
        }
        .arrow-left {
          width: .09em;
          height: .09em;
          border: solid white;
          border-width: 0 .125em .125em 0;
          display: inline-block;
          padding: 3px;
          margin: 16px 0 0 0;
          transform: rotate(130deg) skewX(-13deg);
        }
        .phone-top-three-dots {
          margin-left: auto;
          &:after {
            content: '\2807';
          }
        }
      }
    }
    .phone-body {
      display: flex;
      flex-direction: column;
      & > * {
        display: inline-block;

      }
      .grey-background-msg {
        background-color: pink;
        border-radius: $border-radius-msg-standard;
        border-bottom-left-radius: $border-radius-msg-less;
        padding: 10px;
        margin: $msg-margin;
        margin-right: auto;
        width: 50%;
      }
      .dog-images {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin: $msg-margin;
        margin-left: auto;
        & > img {
          margin: auto;
          height: 50px;
          border-radius: 12px;
        }
      }
      .white-background-msg {
        background-color: lightgreen;
        border-radius: $border-radius-msg-standard;
        border-bottom-right-radius: $border-radius-msg-less;
        padding: 10px;
        margin: $msg-margin;
        margin-left: auto;
        width: 50%;
      }
      .event-msg {
        background-color: lightseagreen;
        display: flex;
        border-radius: $border-radius-msg-standard;
        border-bottom-left-radius: $border-radius-msg-less;
        padding: 10px;
        margin: $msg-margin;
        margin-right: auto;
        width: 70%;

        // for circle in event msg
        & > span:first-child {
          display: inline-block;
          margin-left: right;
          margin-right: 8px;
          height: 17px;
          width: 17px;
          background-color: transparent;
          border: 1px grey solid;
          border-radius: 50%;
        }
        // walk time
        & > span:nth-child(2) {
          color: white;
          display: inline-block;
          margin-left: right;
        }
        & > span:last-child {
          text-align: end;
          display: inline-block;
          margin-left: auto;
        }
      }
      .msg-input {

          /* This bit sets up the horizontal layout */
          display:flex;
          flex-direction:row;
          border:1px solid grey;
          background-color: white;
          border-radius: 20px;
          padding:8px;
          margin: 5px 30px 5px 30px;
          & > input {
            flex-grow:2;         
            border:none;
            &:focus{
              outline: none;
          }
        }
        & > button {
          border: none;
          background:lightblue;
          color:white;
          border-radius: 100px;
          & > span {
              width: .09em;
              height: .09em;
              border: solid white;
              border-width: 0 .15em .15em 0;
              display: inline-block;
              padding: 3px;
              margin: 13px 14px 11px 12px;
              transform: rotate(-45deg);
          }
          &:focus{
            outline: none;
        }
        }
      }
    }
  }

  // SIMPLE BOOKING SECTION
  .simple-booking {

    margin: auto auto auto 150px;
    width: $simple-booking-width;
    & > h1 {
      margin-bottom: 25px;
    }
    & > p {
      line-height: 30px;
    }
  }
  
}

