@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f3f7;
  position: relative;
  height: 100%;
}

.dynamic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dynamic-content > .phone {
  background-color: #f5f3f7;
  width: 305px;
  height: 627px;
  font-size: 11px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 3% 8% 4% 8%;
  -webkit-box-shadow: 6px 12px 60px -30px #474747;
          box-shadow: 6px 12px 60px -30px #474747;
  border-radius: 35px;
  border: 12px white solid;
}

.dynamic-content > .phone > .phone-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background-image: linear-gradient(to right, #8838ff, #e942ff);
}

.dynamic-content > .phone > .phone-top > .white-at-top-of-phone {
  width: 60%;
  height: 22px;
  background-color: white;
  margin: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dynamic-content > .phone > .phone-top > .phone-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px 10px 15px 10px;
}

.dynamic-content > .phone > .phone-top > .phone-top-content > .phone-top-text > .phone-name {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1px;
}

.dynamic-content > .phone > .phone-top > .phone-top-content > .phone-top-text > .phone-status {
  font-size: 10px;
  color: #d89eff;
}

.dynamic-content > .phone > .phone-top > .phone-top-content > img {
  height: 26px;
  border-radius: 30px;
  border: .18em white solid;
  margin-right: 12px;
  cursor: pointer;
}

.dynamic-content > .phone > .phone-top > .phone-top-content > .arrow-left {
  width: .01em;
  height: .01em;
  border: solid white;
  border-width: 0 .27em .27em 0;
  display: inline-block;
  padding: .19em;
  margin: 11px 6px 0 8px;
  -webkit-transform: rotate(125deg) skewX(-25deg);
          transform: rotate(125deg) skewX(-25deg);
  cursor: pointer;
}

.dynamic-content > .phone > .phone-top > .phone-top-content > .phone-top-three-dots {
  margin: 5px 5px auto auto;
  font-size: 16px;
}

.dynamic-content > .phone > .phone-top > .phone-top-content > .phone-top-three-dots:after {
  cursor: pointer;
  content: '\2807';
}

.dynamic-content > .phone > .phone-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dynamic-content > .phone > .phone-body > * {
  display: inline-block;
  margin: 12px 8px 0 8px;
}

.dynamic-content > .phone > .phone-body > .grey-background-msg {
  background-color: #ebe1f2;
  color: #9241c8;
  border-radius: 12px;
  border-bottom-left-radius: 6px;
  padding: 10px;
  margin-right: auto;
  width: 50%;
}

.dynamic-content > .phone > .phone-body > .dog-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin-left: auto;
  margin-top: 20px;
}

.dynamic-content > .phone > .phone-body > .dog-images > img {
  margin: auto;
  height: 49px;
  border-radius: 12px;
}

.dynamic-content > .phone > .phone-body > .white-background-msg {
  background-color: white;
  color: #6e5d7e;
  border-radius: 12px;
  border-bottom-right-radius: 6px;
  padding: 10px;
  margin-left: auto;
  max-width: 50%;
  -webkit-box-shadow: 0 12px 15px -13px #afafaf;
          box-shadow: 0 12px 15px -13px #afafaf;
}

.dynamic-content > .phone > .phone-body > .event-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to right, #e942ff, #8838ff);
  border-radius: 12px;
  border-bottom-left-radius: 6px;
  padding: 10px;
  height: 23px;
  margin-right: auto;
  width: 65%;
}

.dynamic-content > .phone > .phone-body > .event-msg > span:first-child {
  display: inline-block;
  margin: 2px 9px auto 0;
  height: 13px;
  width: 13px;
  background: transparent;
  border: 2px #e570ff solid;
  border-radius: 50px;
}

.dynamic-content > .phone > .phone-body > .event-msg > span:first-child:hover {
  background-color: white;
}

.dynamic-content > .phone > .phone-body > .event-msg > span:nth-child(2) {
  color: white;
  display: inline-block;
  margin: 5px auto auto 0;
  opacity: .8;
}

.dynamic-content > .phone > .phone-body > .event-msg > span:last-child {
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-align: end;
  display: inline-block;
  margin-left: auto;
  padding: 3px 8px 0 0;
}

.dynamic-content > .phone > .phone-body > .msg-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 90%;
  margin: 20px auto auto auto;
}

.dynamic-content > .phone > .phone-body > .msg-input > input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  padding-top: 4px;
  padding-left: 8.5%;
}

.dynamic-content > .phone > .phone-body > .msg-input > input:focus {
  outline: none;
}

.dynamic-content > .phone > .phone-body > .msg-input > input::-webkit-input-placeholder {
  color: #c6cacd;
  font-size: .9em;
}

.dynamic-content > .phone > .phone-body > .msg-input > input:-ms-input-placeholder {
  color: #c6cacd;
  font-size: .9em;
}

.dynamic-content > .phone > .phone-body > .msg-input > input::-ms-input-placeholder {
  color: #c6cacd;
  font-size: .9em;
}

.dynamic-content > .phone > .phone-body > .msg-input > input::placeholder {
  color: #c6cacd;
  font-size: .9em;
}

.dynamic-content > .phone > .phone-body > .msg-input > button {
  border: none;
  background: #3e2753;
  color: white;
  border-radius: 100px;
  margin-right: 2px;
  cursor: pointer;
}

.dynamic-content > .phone > .phone-body > .msg-input > button > span {
  width: .09em;
  height: .09em;
  border-radius: 3px;
  border: solid white;
  border-width: 0 .29em .29em 0;
  display: inline-block;
  padding: .19em;
  margin: 10px 12px 9px 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dynamic-content > .phone > .phone-body > .msg-input > button:focus {
  outline: none;
}

.dynamic-content > .simple-booking {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 600px;
}

.dynamic-content > .simple-booking > h1 {
  margin-bottom: 34px;
  font-size: 3.3em;
  font-weight: 500;
  color: #3e2753;
}

.dynamic-content > .simple-booking > p {
  line-height: 35px;
  font-size: 21px;
  color: #a39daa;
}

.left-background-shape {
  height: 85vh;
  width: 67vh;
  left: -100px;
  background-image: linear-gradient(45deg, #8838ff, #e942ff);
  position: fixed;
  z-index: -1;
  border-bottom-left-radius: 30em;
  border-bottom-right-radius: 40em;
}

.right-background-shape {
  height: 85vh;
  width: 80vh;
  right: -300px;
  bottom: 0;
  background-color: #f4edf5;
  position: fixed;
  z-index: -1;
  border-top-left-radius: 30em;
  border-top-right-radius: 40em;
  overflow: hidden;
}

@media only screen and (max-width: 940px) {
  .dynamic-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .phone {
    margin-bottom: 70px !important;
    margin-top: 70px !important;
  }
  .simple-booking {
    text-align: center;
    margin-bottom: 70px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .simple-booking > p {
    margin: auto;
    max-width: 400px !important;
  }
  .left-background-shape {
    height: 66vh;
    border-bottom-right-radius: 150em;
  }
  .right-background-shape {
    width: 80vh;
    border-top-left-radius: 150em;
  }
}

@media only screen and (max-width: 1524px) {
  .left-background-shape {
    width: 60vh;
  }
  .right-background-shape {
    height: 75vh;
  }
}

@media only screen and (max-width: 1400px) {
  .left-background-shape {
    width: 50vh;
  }
}

@media only screen and (max-width: 1130px) {
  .left-background-shape {
    width: 45vh;
  }
  .right-background-shape {
    height: 60vh;
  }
}

@media only screen and (max-width: 800px) {
  .right-background-shape {
    height: 30vh;
    width: 80vh;
  }
}

@media only screen and (max-width: 550px) {
  .left-background-shape {
    width: 35vh;
  }
  .right-background-shape {
    height: 30vh;
    width: 75vh;
  }
}
/*# sourceMappingURL=styles.css.map */