@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
html { 
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background-color: hsl(270, 20%, 96%);
  position: relative;
  height: 100%;
}

// ============ Variables ==============

// ######## Phone ########
//General
$phone-height: 627px;
$phone-width: 305px;
$phone-border-radius: 35px;
$phone-border: 12px white solid;
// Phone white top
$phone-top-top-border-radius: 25px;
$phone-top-bottom-border-radius: 8px;

// phone body
$border-radius-msg-standard: 12px;
$border-radius-msg-less: 6px;
$msg-margin-top: 12px;
$msg-margin-sides: 8px;

// ###### Simple Booking #######
$simple-booking-width: 600px;


.dynamic-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  
  // PHONE SECTION
  & > .phone {
    background-color: hsl(270, 20%, 96%);
    width: $phone-width;
    height: $phone-height;
    font-size: 11px;
    flex-shrink: 0;
    margin: 3% 8% 4% 8%;
    box-shadow: 6px 12px 60px -30px rgb(71, 71, 71);
    
    border-radius: $phone-border-radius;
    border: $phone-border;
    & > .phone-top {
      border-top-left-radius: $phone-top-top-border-radius;
      border-top-right-radius: $phone-top-top-border-radius;
      border-bottom-left-radius: $phone-top-bottom-border-radius;
      border-bottom-right-radius: $phone-top-bottom-border-radius;
      color: white;
      background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));

      & > .white-at-top-of-phone {
        width: 60%;
        height: 22px;
        background-color: white;
        margin: auto;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }

      & > .phone-top-content {
        display: flex;
        justify-content: flex-start;
        padding: 15px 10px 15px 10px;
        & > .phone-top-text {
          & > .phone-name {
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 1px;
          }
          & > .phone-status {
            font-size: 10px;
            color: hsl(276, 100%, 81%);
          }
        }
        & > img {
          height: 26px;
          border-radius: 30px;
          border: .18em white solid;
          margin-right: 12px;
        }
        & > .arrow-left {
          width: .01em;
          height: .01em;
          border: solid white;
          //border-radius: 2px;
          border-width: 0 .27em .27em 0;
          display: inline-block;
          padding: .19em;
          margin: 11px 6px 0 8px;
          transform: rotate(125deg) skewX(-25deg);
        }
        & > .phone-top-three-dots {
          margin: 5px 5px auto auto;
          font-size: 16px;
          &:after {
            content: '\2807';
          }
        }
      }
    }
    & > .phone-body {
      display: flex;
      flex-direction: column;
      & > * {
        display: inline-block;
        margin: $msg-margin-top $msg-margin-sides 0 $msg-margin-sides;
      }

      & > .grey-background-msg {
        background-color: rgb(235, 225, 242);
        color: hsl(276, 55%, 52%);
        border-radius: $border-radius-msg-standard;
        border-bottom-left-radius: $border-radius-msg-less;
        padding: 10px;
        margin-right: auto;
        width: 50%;
      }
      & > .dog-images {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin-left: auto;
        margin-top: $msg-margin-top + 8px;
        & > img {
          margin: auto;
          height: 49px;
          border-radius: 12px;
        }
      }
      & > .white-background-msg {
        background-color: white;
        color: hsl(271, 15%, 43%);
        border-radius: $border-radius-msg-standard;
        border-bottom-right-radius: $border-radius-msg-less;
        padding: 10px;
        margin-left: auto;
        max-width: 50%;
        box-shadow: 0 12px 15px -13px rgb(175, 175, 175);
      }
      & > .event-msg {
        display: flex;
        background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        border-radius: $border-radius-msg-standard;
        border-bottom-left-radius: $border-radius-msg-less;
        padding: 10px;
        height: 23px;
        margin-right: auto;
        width: 65%;

        // for radio btn in event msg
        & > span:first-child {
          display: inline-block;
          margin: 2px 9px auto 0 ;
          height: 13px;
          width: 13px;
          background: transparent;
          border: 2px hsl(289, 100%, 72%) solid;
          border-radius: 50px;
        }
        // walk time
        & > span:nth-child(2) {
          color: white;
          display: inline-block;
          margin: 5px auto auto 0;
          opacity: .8;
        }
        & > span:last-child {
          color: white;
          font-size: 15px;
          font-weight: 700;
          text-align: end;
          display: inline-block;
          margin-left: auto;
          padding: 3px 8px 0 0;
        }
      }
      & > .msg-input {
          display:flex;
          flex-direction:row;
          background-color: white;
          border-radius: 25px;
          padding:5px;
          width: 90%;
          margin: $msg-margin-top + 8px auto auto auto;
          & > input {
            flex-grow:1;         
            border:none;
            padding-top: 4px;
            padding-left: 8.5%;
            &:focus{
              outline: none;
          }
          &::placeholder {
            color: hsl(206, 6%, 79%);
            font-size: .9em;
          }
        }
        & > button {
          border: none;
          background: hsl(271, 36%, 24%);
          color:white;
          border-radius: 100px;
          margin-right: 2px;
          & > span {
              width: .09em;
              height: .09em;
              border-radius: 3px;
              border: solid white;
              border-width: 0 .29em .29em 0;
              display: inline-block;
              padding: .19em;
              margin: 10px 12px 9px 10px;
              transform: rotate(-45deg);
          }
          &:focus{
            outline: none;
        }
        }
      }
    }
  }

  // SIMPLE BOOKING SECTION
  & > .simple-booking {
    flex-basis: 100%;
    max-width: $simple-booking-width;
    & > h1 {
      margin-bottom: 34px;
      font-size: 3.3em;
      font-weight: 500;
      color: hsl(271, 36%, 24%);
    }
    & > p {
      line-height: 35px;
      font-size: 21px;
      color: hsl(270, 7%, 64%);
    }
  }
  
}

// Background shapes
.left-background-shape {
  height: 85vh;
  width: 67vh;
  left: -100px;
  background-image: linear-gradient(45deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  position: fixed;
  z-index: -1;
  border-bottom-left-radius: 30em;
  border-bottom-right-radius: 40em;
}


// Background shapes
.right-background-shape {
  height: 85vh;
  width: 80vh;
  right: -300px;
  bottom: 0;
  background-color: rgb(244, 237, 245);
  position: fixed;
  z-index: -1;
  border-top-left-radius: 30em;
  border-top-right-radius: 40em;
  overflow:hidden
}



// media query for collapse
@media only screen and (max-width: 940px) {
  .dynamic-content {
    flex-wrap: wrap;
  }
  .phone {
    margin-bottom: 70px !important;
    margin-top: 70px !important;
  }
  .simple-booking {
    text-align: center;
    margin-bottom: 70px !important;
    display: flex;
    flex-direction: column;
    & > p {
      margin: auto;
      max-width: 400px !important;
    }
  }
  .left-background-shape {
    height: 66vh; //57
    border-bottom-right-radius: 150em;
  }
  .right-background-shape {
    width: 80vh;
    border-top-left-radius: 150em;
  }
}


// media queries for background images
@media only screen and (max-width: 1524px) {
  .left-background-shape { 
    width: 60vh;
  }
  .right-background-shape {
    height: 75vh;
  }
}

@media only screen and (max-width: 1400px) {
  .left-background-shape { 
    width: 50vh;
  }
}

@media only screen and (max-width: 1130px) {
  .left-background-shape { 
    width: 45vh;
  }
  .right-background-shape {
    height: 60vh;
  }
}

@media only screen and (max-width: 800px) {
  .right-background-shape {
    height: 30vh;
    width: 80vh;
  }
}

@media only screen and (max-width: 550px) {
  .left-background-shape { 
    width: 35vh;
  }
  .right-background-shape {
    height: 30vh;
    width: 75vh;
  }
}